body {
  background: #222;
}

svg {
  margin-top: 50px;
}

.arc path {
  fill: #066;
  stroke: #066;
}

.inner-arc path {
  fill: #3AA;
  stroke: #3AA;
}

text {
  fill: #eee;
}

line {
  z-index: 2;
}
